<div>
    <div>
        <h2>Welcome, {{name}}</h2>
    </div>
</div>
<div>
    <div>
        <div>
            <h3>Make a new post</h3>

            <form>
                <div>
                    <label for="post-title">post title:</label>
                    <input class="" type="text" id="post-title" name="post-title" />
                </div>
                <div>
                    <label for="post-body">post body:</label>
                    <input class="" type="text" id="post-body" name="post-body" />
                </div>
                <div>
                    <button type="submit" class="">Submit</button>
                </div>
            </form>
        </div>
    </div>

    {{#if posts.length}}
    <div>
        <h3>Current Posts:</h3>

        {{#each posts as |post|}}
        <div>
            <div>
                <h4><a href="/api/post/{{post.id}}">{{post.title}} posted on {{post.date}}</a></h4>
            </div>
            <div>
                <button class="" data-id="{{project.id}}">UPDATE</button>
            </div>
            <div>
                <button class="" data-id="{{project.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>