<div>
    <div>
        <h3>{{post.title}}</h3>
        <p>posted by {{post.user.name}} on {{format_date post.date}}</p>
    </div>
    <div>
        <p>{{post.body}}</p>
    </div>
    {{#if logged_in}}
    <form id="comment-form">
        <label for="comment-body">Leave a comment:</label>
        <input type="text" name="comment-body" id="comment-body">
        <button id="submit-comment">Submit</button>
    </form>
    {{/if}}
</div>
{{#if comments}}
    <div>
        {{#each comments as |comment|}}
            <div>
                <h4>{{comment.user.name}} - {{format_date comment.date}}</h4>
                <p>{{comment.content}}</p>
            </div>
        {{/each}}
    </div>
{{/if}}